.main{
    min-height: 500px;
}

label {
    font-size: 25px !important;
    text-align: center !important;
}


@media (max-width: 1150px) {
    .mat-drawer {
        display: block;
        position: static !important; 
    }
    
    .mat-drawer-content {
        display: block;
        margin: 0 !important;
        
    }

}