.main{
    min-height: 500px;
}

@media (max-width: 1150px) {
    .mat-drawer {
        display: block;
        position: static !important; 
    }
    
    .mat-drawer-content {
        display: block;
        margin: 0 !important;
        
    }

}