# See http://help.github.com/ignore-files/ for more about ignoring files.

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# compiled output
/Planner/dist
/Planner/tmp
/Planner/out-tsc
/Planner/wwwroot

# dependencies
/Planner/node_modules
/Planner/package-lock.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/Planner/npm-debug.log
/Planner/yarn-error.log
/Planner/testem.log
/Planner/typings

# System Files
.DS_Store
Thumbs.db

/Planner/bin
/Planner/obj

/Planner.ServiceInterfaces/bin
/Planner.ServiceInterfaces/obj

/Planner.BusinessLogic/bin
/Planner.BusinessLogic/obj

/Planner.Data/bin
/Planner.Data/obj

/Planner.DependencyInjection/bin
/Planner.DependencyInjection/obj

/Planner.Entities/bin
/Planner.Entities/obj

/Planner.RepositoryInterfaces/bin
/Planner.RepositoryInterfaces/obj

/Planner.ExcelApi/bin
/Planner.ExcelApi/obj

/Planner.PresentationLayer/bin
/Planner.PresentationLayer/obj
/Planner.PresentationLayer/obj
/Planner/aspnet-PlanerDb_log.ldf
/Planner/aspnet-PlanerDb.mdf
venv