<footer class="footer">
    <div class="wrapper">
        <div class="footer__content">
            <div class="our-social__links">
                <span class="our-social__links--title">Зв'яжіться з нами</span>
                <div class="our-social__links--item">
                    <a href="#" class="link__social google"><img src="../../../../assets/images/goo.png" alt=""></a>
                    <a href="#" class="link__social orcid"><img src="../../../../assets/images/orcid.png" alt=""></a>
                    <a href="#" class="link__social facebook"><img src="../../../../assets/images/facebook.png" alt=""></a>
                    <a href="#" class="link__social youtube"><img src="../../../../assets/images/yout.png" alt=""></a>
                    <a href="#" class="link__social twitter"><img src="../../../../assets/images/twitter.png" alt=""></a>
                  </div>
            </div>
            <div class="footer__content--contacts">
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#" routerLink="/home" class="menu__item--link">Головна</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" routerLink="publication" class="menu__item--link">Публікації</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item--link">Індивідуальний план</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" routerLink="dashboard" class="menu__item--link">Розклад занять</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item--link">Керівні документи</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" routerLink="user" class="menu__item--link">Нові Користувачі</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item--link">Результати НДР</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item--link">План Науки</a>
                    </li>
                    <!-- <li class="menu__item"> -->
                        <!-- <a href="#" class="menu__item--link"></a> -->
                    <!-- </li> -->
                </ul>
                <ul class="contacts__data">
                    <li class="contacts__data--info">Контакти</li>
                    <a href="mailto:post@hneu.edu.ua" class="contacts__data--info">post@hney.edu.ua</a>
                    <span class="contacts__data--info">(057) 702 03 04</span>
                    <span class="contacts__data--info">(057) 702 07 17</span>
                    <span class="contacts__data--info">Приймальна комісія:</span>
                    <span class="contacts__data--info">(057) 702 18 37</span>
                    <span class="contacts__data--info">Соціально-психологічна служба ХНЕУ</span>
                    <span class="contacts__data--info">ім. С. Кузнеця:</span>
                    <span class="contacts__data--info">(050) 135 15 19</span>
                    <span class="contacts__data--info">Participant Identification</span>
                    <span class="contacts__data--info">Code (PIC) S. KUZNETS</span>
                    <span class="contacts__data--info">KhNUE - 941523323 м. Харків,</span>
                    <span class="contacts__data--info">просп. Науки, 9-А, 61166 Україна</span>
                </ul>
                <div class="footer__content--logo-khneu">
                    <a href="#"><img src="../../../../assets/images/logo-khneu_footer.png" alt=""></a>
                </div>
            </div>
            <div class="footer__content--copyright">
                <a href="https://mon.gov.ua/ua" class="footer__content--logo-min-osv">
                    <img src="../../../../assets/images/logo-min-osv.png" alt="">
                </a>
                <a href="https://ukc.gov.ua/" class="footer__content--logo-ukr-gov">
                    <img src="../../../../assets/images/uks-gov.png" alt="">
                </a>
                <span class="footer__content--copyright-info">2020 © Усі права захищені.</span>
            </div>
        </div>
    </div>
</footer>
