<!-- <p-toast key="error" position="top-center"></p-toast> -->
<div class="hold-transition login-page">
    <div class="wrapper">
    <div class="header-widget">
      <div class="site-logo">
        <a href="http://www.hneu.edu.ua/" class="background-logo" title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
        </a>
          <span class="login-logo" title="Вхід в персональний кабінет викладача">
            Вхід в персональний кабінет викладача
          </span>
          <div class="text-line"></div>
      </div>
    </div>
  
    <form [formGroup]="userform" (ngSubmit)="onSubmit()" class="login-form">
      <div class="back-img"></div>
      <div class="container body-content">
        <div class="form-group">
          <div class="img"></div>
          <input type="text" pInputText placeholder="ЛОГІН" class="login" formControlName="email">
          <!-- <p-message severity="error" [text]="getErrorMessage('email')"
                     *ngIf="!this.userform.controls['email'].valid && this.userform.controls['email'].dirty"></p-message> -->
  
        </div>
        <div class="form-group">
          <input type="password" pInputText placeholder="ПАРОЛЬ" class="login" formControlName="password">
          <!-- <p-message severity="error" [text]="getErrorMessage('password')"
                     *ngIf="!this.userform.controls['password'].valid && this.userform.controls['password'].dirty"></p-message> -->
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" id="cdRememberMe">
            <label for="cdRememberMe" class="checkbox-label">Запам'ятати мене</label>
          </label>
          <button type="submit" class="btn btn-primary form-btn"><span class="form-btn__input">Вхід</span></button>
        </div>
      </div>
    </form>
  </div>
  </div>
  
  