:host{
    @import url("//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

    .hold-transition {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    }

    $font: Verdana;
    
    .wrapper {
        display: flex;
        position: relative;
        flex-flow: column;
        max-width: 1600px;
        padding: 0 20px;
        margin: 0 auto;
    }


    .login-logo, .register-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        max-width: 442px;
        margin: 0 auto 25px auto;
        text-align: center;
        color: #0979d9;
        padding-top: 15px;
        font-weight: 700;
        font-family: $font;
        
    }

    .text-line {
        display: flex;
        border-bottom: 3px solid #4595d6;
        max-width: 200px;
        margin: 0 auto 35px auto;
    }

    .loging-logo:not(.register-logo) {
      border-bottom: 1px solid 50px #0979d9;  
    }
    .login-logo a, .register-logo a {
        color: #444;
    }

    .login-logo .title_logo {
        padding-top: 25px;
    }

    .background-logo {
        display: flex;
        background-image: url('../../../../assets/images/hneu.png');
        width: 288px;
        height: 68px;
        padding: 36px 0 0 9px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 25px;
        border-radius: 9px;
        width: 415px;
        margin: 0 auto;
        font-size: 13px;
        font-family: $font;
        background-color: #ffffff;
        color: white;
        box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.23);
    }

    .back-img {
        display: block;
        position: absolute;
        background-image: url(../../../../assets/images/lines.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 85%;
        top: 32%;
        left: 2%;
        z-index: -1;
    }

    .form-group {
        display: flex;
        margin-top: 50px;
        
    }

    .form-group:nth-child(1) {
        margin: 0;
    }
    
    
    .login {
       display: inline-block;
       position: relative;
       width: 220px;
       font-family: $font; 
       font-weight: bold;
       padding: 14px 50px 5px 50px;
       background-color: inherit;
       border: none;
       border-bottom: 1px solid #060606;
       outline: none;
       vertical-align: middle;
    }

    input[type="text"] {
        background-image: url(../../../../assets/images/login.png);
        background-repeat: no-repeat;
        background-position: 2px 5px;
        background-size: 28px;
        vertical-align: middle;
    }

    input[type="password"] {
        background-image: url(../../../../assets/images/pass.png);
        background-position: 5px 0px;
        background-repeat: no-repeat;
        background-size: 23px;
        vertical-align: middle;
    }

    input::-webkit-input-placeholder { color: rgba(9, 121, 217, 1); }
    input::-moz-placeholder { color: rgba(9, 121, 217, 1); }

    .form-check-input {
        display: inline-block;
        margin: 0 3px;
        vertical-align: middle;
    }

    .form-check-label {
        display: block;
        margin-top: 15px;
    }
    
    .checkbox-label {
        display: inline-block;
        color: rgba(9, 121, 217, 1);
        font-family: $font;
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
    }

    .form-btn {
        display: block;  
        margin: 0 auto;
        background-color: #3c8dbc;
        border: none;
        padding: 10px 60px;
        margin-top: 50px;
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.43);
        transition: .3s;
        cursor: pointer;
    }

    .form-btn:hover {
        background-color: #01659f;
        transition: .3s;
    }

    .form-btn__input {
        display: block;
        color: #fbfcfd;
        font-family: $font;
        font-size: 20px;
        text-transform: uppercase;
    }

    .ui-message.ui-message-error {
        width: 100%;
        text-align: center
    }

    @media (max-width: 1180px) {
    .background-logo {
        display: block;
        margin: 0 auto;
        float: none;
        width: 250px;
        height: 250px;
    }
    }

    @media (max-width: 790px) {
    .wrapper {
        padding: 0 10px;
    }
    .login-logo .title_logo {
        max-width: 1000px;
        padding: 0 15px;
    }
    }

    @media (max-width:600px) {
    .login-logo .title_logo {
        max-width: 604px;
        font-size: 25px;
    } 
    .login-form {
        width: 472px;
    }

    .form-label {
        font-size: 12px;
        margin-left: 10px;
    }
    }

    @media (max-width: 488px) {
    .login-form {
        width: 352px;
    }
    .login-logo .title_logo {
        max-width: 100%;
        font-size: 20px;
        padding: 0;
    }
    }

}