<section class="main">
  <div class="wrapper">
    <div class="main__content">
      <div class="content-wrapper">
        <div class="form-group">
          <div class="login-box-body" 
          data-ng-controller="registerController as registerCtrl" 
          ng-cloak data-ng-init="registerCtrl.init()">
            <span class="login-box-msg home_title">Ваш особистий кабінет</span>
              <div class="form-group table">
                <div class="personal__info--container">
                  <span class="personal__info">П. I .Б.</span>
                  <span class="personal__info--data">{{userProfile.givenName}}</span>
                </div>
                <div class="personal__info--container">
                  <span class="personal__info">e-mail</span>
                  <span class="personal__info--data">{{userProfile.mail}}</span>
                </div>
                <div class="personal__info--container">
                  <span class="personal__info">Google Scholar</span>
                  <span class="personal__info--data">...</span>
                </div> 
                <div class="personal__info--container">
                  <span class="personal__info">Orcid Scholar</span>
                  <span class="personal__info--data">...</span>
                </div> 
                <div class="personal__info--container">
                  <span class="personal__info">ID Elsevier</span>
                  <span class="personal__info--data">...</span>
                </div>  
                <div class="personal__info--container">
                  <span class="personal__info">Ступiнь</span>
                  <span class="personal__info--data">{{userProfile.sn}}</span>
                </div>
                <div class="personal__info--container">
                  <span class="personal__info">Звання</span>
                  <span class="personal__info--data">{{userProfile.sn}}</span>
                </div>
                <div class="personal__info--container">
                  <span class="personal__info">Посада</span>
                  <span class="personal__info--data">{{userProfile.sn}}</span>
                </div>
              </div>
            <!-- <div class="col edit">
              <div class="button-margin">
                <button class="btn btn-primary btn-block btn-flat" (click)="toggleEditUser()">Редагувати</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- <add-update-user *ngIf="isEdit" [applicationUserId]="userProfile.applicationUserId"></add-update-user> -->
  