  $font: 'Segoe UI';

  .wrapper {
    display: block;
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 175px;
  }

  .home_title {
    display: block;
    text-align: center;
    color: #707070;
    font-family: $font;
    font-size: 30px;
    font-weight: 700;
    margin-top: 87px;
  }

  .table {
    display: block;
    border-left: 13px solid #141880;
    padding-left: 250px;
    margin-top: 40px;
  }

  .personal__info--container {
    display: block;
    max-width: 730px;
    margin-top: 50px;
  }

  .personal__info--container:nth-child(1) {
    margin-top: 0;
  }

  .personal__info {
    display: inline-block;
    font-family: $font;
    color: #707070;
    font-size: 25px;
    font-weight: 700;
    padding-right: 50px;
    vertical-align: middle;
  }


  .personal__info--data {
    display: inline-block;
    vertical-align: middle;
    font-family: $font;
    font-weight: 700;
    color: #2b2b2b;
    float: right;
    width: 500px;
    height: 40px;
    padding: 10px 0 5px 25px;
    background-color: #eceeff;
  }



 
