@import "../../../../styles/mixin.scss";

$blue-background: #141880;

*,
html {
  @include segoe-semi;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include wrapper;
}

.intro {
  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 62px 0;
  }

  &__title {
    @include segoe-bold;
    text-align: center;
    font-size: 30px;
    color: #2c2b2b;
  }

  &__container {
    margin-top: 50px;
    width: 60%;
    border-left: 15px solid $blue-background;
  }

  &__item {
    display: flex;
    text-align: right;

    & + & {
      margin-top: 35px;
    } 
  }

  &__suptitle {
    margin-right: 5%;
    width: 50%;
    font-size: 30px;
    line-height: 30px;
  }

  &__data {
    padding: 5px 10px;
    width: 45%;
    text-align: justify;
    font-size: 25px;
    color: #000;
    background-color: rgba(128, 128, 128, 0.5);
  }
}
