  $font:Verdana;

  .wrapper {
    display: flex;
        position: relative;
        flex-flow: column;
        max-width: 1600px;
        padding: 0 20px;
        margin: 0 auto;
  }

  .personal-info {
    display: block;
    font-family: $font;
    padding: 5px 0px 5px 15px;
  }
      
  .button-margin {
        display: block;
        max-width: 150px;
        margin: 0 auto;
  }

  .personal-info {
        display: block;

  }
      
  .edit {
    display: block;
    text-align: center;
  }
      
  .home_title {
        display: block;
        font-size: 25px;
      }      
