        .menu {
        display: block;
        background-color: #0979d9;
        background-size: cover;
        list-style-type: none;
        margin: 0;
        text-align: center;
      }

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
        .menu:after {
          display: block;
          clear: both;
          content: '';
        }
      
     li {
       display: inline-block;
       vertical-align: top;
     }

     .menu__hover {
       
     }

      .mat-button {
        line-height: 20px;
      }



