.button-margin {
  text-align: center;
}

.login-box-msg {
  display: block;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 30px;
  margin: 15px 0;
}

.dashboard-height {
  height: 100%;
  width: 100%;
}
