<header id="header">
  <div id="wrapper">
  <div class="header__content">
    <div class="socials">
    <a class="social-link" href="https://orcid.org" title="ORCID">
      <img class="social orcid-logo">
    </a>
    <a class="social-link" href="https://www.facebook.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="social facebook-logo">
    </a>
    <a class="social-link" href="https://www.youtube.com/user/MrBAlexN" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="social youtube-logo">
    </a>
    <a class="social-link" href="https://twitter.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="social twitter-logo">
    </a>
    <a class="social-link" href="https://scholar.google.com.ua/" title="Google Scholar">
      <img class="social scholar-logo">
    </a>
  </div>
  </div>
</div>
    <div class="serchheder"> 
              <a href="#" class="khneu-logo"><img src="../../../../assets/images/logo_khneu.png" alt=""></a>
            <span class="main-title" title="Харківський національний економічний університет імені Семена Кузнеця (ХНЕУ ім. С. Кузнеця)">
              Харківський національний економічний університет імені Семена Кузнеця (ХНЕУ ім. С. Кузнеця)
            </span>
    </div>
</header>
<section class="main__back">
  <div class="wrapper">
    <div class="main__back--content">
      <span class="main__back--content-title">Кабінет викладача</span>
    </div>
  </div>
</section>
