<header id="header">
  <div class="footer-top">
    <a class="social-link" href="https://www.youtube.com/user/MrBAlexN" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="youtube-logo">
    </a>
    <a class="social-link" href="https://www.facebook.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="facebook-logo">
    </a>
    <a class="social-link" href="https://twitter.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
      <img class="twitter-logo">
    </a>
    <a class="social-link" href="https://scholar.google.com.ua/" title="Google Scholar">
      <img class="scholar-logo">
    </a>
    <a class="social-link" href="https://orcid.org" title="ORCID">
      <img class="orcid-logo">
    </a>
  </div>
  <div id="wrapper">
    <div class="serchheder">
      <div class="inside-header grid-container grid-parent">
        <div class="header-widget">
         
          <div class="site-branding">
            <span class="main-title" title="ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА">
              Планувальник навантаження викладача
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
