:host{  
  $font:Verdana;
    body {
        margin: 0;
        background-color: #CCCCCC;
      }
      
      a {
        text-decoration: none;
      }
      
      #wrapper {
        // display: none;
        margin: 0 auto;
      
      }
      
      #content-spacer-top {
        height: 10px;
      }
      
      #content-spacer-bottom {
        height: 1%;
      }
      
      #header {
        background: #073ea2;
        // height: 35px;
        width: 100%;
      }
      .menu {
        display: block;
        float: right;
        margin: 10px;
      }

      .social {
        display: inline-block;
        height: 25px;
        padding: 0 8px;
      }

      .orcid-logo {
        content: url('../../../../assets/images/orcid.png');
      }

      .facebook-logo {
        content: url('../../../../assets/images/facebook.png');
      }
      
      .youtube-logo {
        content: url('../../../../assets/images/youtube.png');
      }
      
      .twitter-logo {
        content: url('../../../../assets/images/twitter.png');
      }
      
      .scholar-logo {
        content: url('../../../../assets/images/scholar.png');
      }   

      .serchheder {
        display: block;
        margin: 0 auto;
        max-width: 1200px;
      }

      .khneu-logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: 51px;
      }
      
      .main-title {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        max-width: 920px;
        padding: 50px 0 0 15px;
        color: #292b2b;
        font-size: 30px;
        font-family: $font;
        font-weight: 700;
        line-height: 50px;
      }
      
      .main__back {
        display: block;
        background-image: url(../../../../assets/images/back_main_cont.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
      }

      .main__back--content {
        display: block;
        padding: 400px 150px 0 0;
      }

      .main__back--content-title {
        display: block;
        float: right;
        font-family: $font;
        color: #292b2b;
        font-size: 55px;
        font-weight: 700;
        line-height: 50px;
      }
}