.profile-content {
  margin-top: 2%;
  font-family: verdana;
  font-size: 16px;
}

.button-margin {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

.login-box-msg {
  text-align: center;
}
