@font-face {
    font-family: 'Segoe';
    src: url('/assets/fonts/transfonter/SegoeUI.eot');
    src: url('/assets/fonts/transfonter/SegoeUI.woff2') format('woff2'),
        url('/assets/fonts/transfonter/SegoeUI.woff') format('woff'),
        url('/assets/fonts/transfonter/SegoeUI.ttf') format('truetype'),
        url('/assets/fonts/transfonter/SegoeUI.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}